<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="max">
				<Directory Id="SVCINSTALLFOLDER" Name="svc"/>
				<Directory Id="CLIINSTALLFOLDER" Name="cli"/>
			</Directory>
		</StandardDirectory>
		
		<StandardDirectory Id="CommonAppDataFolder">
			<Directory Id="MAXBACKUPDATAFOLDER" Name="MaxBackup">
				<Directory Id="MAXBACKUPLOGSFOLDER" Name="logs"/>
			</Directory>
		</StandardDirectory>
	</Fragment>
</Wix>
