<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="max backup" Manufacturer="Kelly Elton" Version="1.0.0.0" UpgradeCode="45c08de6-4c20-45ba-922d-24fe01d35b3c" Scope="perMachine">
		<MediaTemplate EmbedCab="yes"/>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<!--<ComponentGroupRef Id="ExampleComponents" />-->
		</Feature>
		<Feature Id="BackupServiceFeature" Title="backup service">
			<ComponentRef Id="MaxBackupServiceComponent" />
		</Feature>
		<Feature Id="CliAppFeature" Title="cli app">
			<ComponentRef Id="MaxCliComponent" />
		</Feature>
	</Package>
</Wix>
